/*INDEX-INICIO
------------------------------------------------------------------------------*/
body{
	background-color: #02010a;
	margin:auto;
	font-family: Dancing Script;
}

#contenido{
	width: 900px;
	margin: auto;
	justify-content:center;
}

/*ENCABEZADO-INICIO
-----------------------------*/
header { 
    margin-top: 0%;
	color: white;
	background-color: #5b7989;
	border-radius: 1.5vh 1.5vh 0vh 0vh;
}

header h1 {
	font-size: 7vh;
	padding: 1vw;
	text-shadow: 0.5vh 0.5vh 0.5vh #02010a;
	text-align: left;
}

.enlaces{
	font-size: 3.5vh;
	text-align: right;
	padding: 0.2vh;
}

.enlaces a{
	color: white;
}

.enlaces a:hover{
	color:#00d8d6;
}

.sub{
	text-decoration: inherit;
}

/*ENCABEZADO-FINAL
-----------------------------*/

/*CONTENEDOR PRINCIPAL-INICIO
-----------------------------*/
.cont1{
	background-color: #82c3a6;
	text-align: center;	
}

.cont1 img{
	box-shadow: 0.4vh 0.4vh 0.4vh #02010a;
}

#imagenes img{
	width: 68%;
	height: 30%;
	margin-top: 3vh;
	margin-bottom: 3vh;
}

/*CONTENEDOR PRINCIPAL-FINAL
-----------------------------*/


/*CONTENEDOR SECUNDARIO-INICIO
-----------------------------*/
.cont2{
	background-color:#d5c75f;
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.cont2 img{
	border: 2px solid #82c3a6;
	box-shadow: 0.5vh 0.5vh 0.5vh #02010a;
	justify-content: center;
}

#imagenes2 img{
	float: left;
	width: 70%;
	height: 45%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-right: 10%;
	margin-left: 10%;
	transition-duration: 1s;
}

#imagenes2 a {
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: black;
}

#imagenes2 img:hover{
	transform: rotate(10deg);
}

#imagenes3 img{
	float: right;
	width: 70%;
	height: 45%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-right: 10%;
	margin-left: 10%;
	transition-duration:1s;	
}

#imagenes3 a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: black;
}

#imagenes3 img:hover{
	transform: translate(25px, 5px);
}


/*CONTENEDOR SECUNDARIO-FINAL
-----------------------------*/

/*PIE DE PAGINA-INICIO
-------------------------------*/
footer {
	text-align: center;
	justify-content: auto;
	align-content: auto;	
}

.cont3 {
	border-radius: 0 0 1.5vh 1.5vh;
	background-color: #C6d5c5;
	margin: auto;
	padding: 0;
	width: 100%;
	display: flex;
	flex-flow: row;
}

.cont3 h3{
	text-align: center;
	font-size: 1.5rem;
}

.c1{
	margin: auto;
	padding: auto;
	width: 25%;
	/*text-align: center;*/
	justify-content: auto;
	flex-flow: column;
	font-size: 2rem;
}

.c1 a{
	margin: 1vw;
	display: flex;
	flex-direction: column;
}

.c2{
	margin: auto;
	padding: auto;
	width: 25%;
	/*text-align: center;*/
	justify-content: auto;
	font-size: 1.2rem;
}

.c2 a{
	font-size: 2rem;
}

.c3{  
	margin: auto;
	padding: auto;
	width: 25%;
	/*text-align: center;*/
	justify-content: auto;
}

.c3 p{
	text-align: center;
}

.c4{
	margin: auto;
	padding: auto;
	width: 25%;
}

.c4 img{
	display:block
	margin:0 auto;
	width: 1.7rem;
}

.icon-facebook{
	color: #7d5fff;
	size: 8rem;
	text-decoration: none;
}

.icon-twitter{
	color: #7d5fff;
	size: 8rem;
	text-decoration: none;
}

.icon-behance{
	color: #7d5fff;
	size: 8rem;
	text-decoration: none;
}

.icon-mail{
	color:#7d5fff;
	size: 8rem;
	text-decoration: none;
}

/*PIE DE PAGINA-FINAL
-------------------------------*/
/*INDEX-FINAL
------------------------------------------------------------------------------*/


.contenedorRetrato img{
	width: 20.3vw;
	height:50vh;
}

.contenedorRetrato{
	background-color:#d5c75f;
	display: inline-flex;
	flex-flow: column;
}

.contret1{
	display: flex;
	flex-direction: row;
}

.contret2{
	display: flex;
	flex-direction: row;
}

#pic1 img {
	-webkit-filter: blur(10px); /* Chrome, Safari, Opera */
	filter: blur(10px);
}

#pic2 img{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
} 

#pic3{
	-webkit-filter: sepia(90%); /* Chrome, Safari, Opera */
	filter: sepia(90%);
}

#pic4 img{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
} 

#pic6 img{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
} 

/*MEDIA QUERIES
---------------------------*/

@media all and (min-width: 200px) and (max-width: 900px)  {

	#contenido{
           align-content: center;
           width: 100%;
           
	}
	header h1{
		text-align: center;
		font-size: 6vh;
	}

	.enlaces{
		font-size: 3vh;
		text-align: center;
	}

	.cont1{
		order: 1;
		width: 100%;
	}

	.cont1 img{
		margin-left:auto; 
		margin-right:auto; 
	}

	#imagenes img{
		width: 85%;
		height: 40%;
		margin-bottom:0.8vh;
		margin-top:0.8vh;
	}

	.cont2 {
		order: 2; 
		width: 100%;
		margin: auto;
		text-align: center;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: column;
		flex-flow: column;
	}

	.cont2 img{
		align-content: center;
		justify-content: center;
	}

	#imagenes2 img{
		float: none;
		width: 85%;
		height: 40%;
		margin-top: 0.8vh;
		margin-bottom: 0.8vh;
		margin-left:6%;
		margin-right:6%;
		
	}

	#imagenes3 img{
		float: none;
		width: 85%;
		height: 40%;
		margin-top: 0.8vh;
		margin-bottom: 0.8vh;
		margin-left:6%;
		margin-right:6%;

	}
/*footer*/

	.cont3{
		width: 100%;
		display: flex;
		flex-flow: column;
		margin: auto;
		order: 3;
		text-align: left;
		justify-content: left;

	}
/*footer*/

	.c1, .c2, .c3, .c4{
		text-align: left;
		justify-content: left;
		align-content: left;
	}

	.contenedorRetrato{
		display: inline-flex;
		flex-flow: column;
		width: 100%;
		justify-content: center;
		align-content: center;
		text-align: center;
	}

	.contret1{
		display: flex;
		flex-direction: column;
	}

	.contret2{
		display: flex;
		flex-direction: column;
	}
	.contenedorRetrato img{
		width: 85%;
		height:35%;
	}

}

/*MEDIA QUERIES
---------------------------*/

/*KEYFRAME SLIDEN
---------------------------*/

@keyframes sliden {

	0% {
		position: relative;
		margin-top: 150%;
	}

	60% {
		position: relative;
		margin-top: -5%;
	}

	100% {
		position: relative;
		margin-top: 0%;
	}
}

header{
	animation-name: sliden;
	animation-duration: 1.4s;
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-o-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

/*KEYFRAME SLIDEN
---------------------------*/